html{
    font-size: 70%;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.landingPage-container{
    display: grid;
     grid-template-areas: 
    "nav"
    "header";
}

.comp-mynav{
    width: auto;
    padding: 5px 3rem;
     grid-area: nav;
}
.comp-mynav-logo{
    font-size: 2rem;
}

.menu1 ul{
   font-size: 1rem;
    padding: 0 .5rem;
    margin: 0 1rem}

.menu1 li{
   font-size: 1.2rem;
    list-style-type: none;
    display: inline-block;
    padding: 0 5px;
    color: #fff;
}

.menu2{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu2 input{

    border: none;
    padding: 5px;
    border-radius: 2%;
}



.login-btn{
    background-color: transparent;
    border: none;
    border-left: 1px solid white;
    color: #fff;
    padding: 0 0 0 1rem;
}

.header{
    display: flex;
    grid-area: header;
    flex-direction: column;
    justify-content:center;
   align-items:flex-end;
    padding: 9rem 10rem;
    background-image: url(../images///cover-pencil-revert.jpg);
    background-size:100% 125%  ;
    text-align: center;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    width: 42rem;
}
.header-content h3{
    font-size: 4rem;
    margin: 0;
}
.header-content p{
    font-size: 1.5rem;
}

.header-content button{
        padding: 10px 12px;
        border: none;
        border-radius: 2rem;
        background-color: rgb(255, 208, 0);
  
}

.header-content button a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width:900px) {
html{
    font-size: 50%;
}
    
    .menu1 li{
    font-size: 1.8rem;}
}

@media only screen and (max-width:700px) {
html{
    font-size: 35%;
}
.menu1 li{
    font-size: 1.8rem;}
}

@media only screen and (max-width:400px) {
   

html{
    font-size: 40%;
}
.menu1 li{
    font-size: 1.8rem;}
.menu2{
   font-size: .5rem;
}
.header{
        padding: 9rem 0rem;
    
}
}

