
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.comp-mynav{
    width: auto;
    padding: 5px 10px;
}
.comp-mynav-logo{
    font-size: 2rem;
}

.menu1 ul{
   
    padding: 0 10px;
    margin: 0 1rem}

.menu1 li{

    list-style-type: none;
    display: inline-block;
    padding: 0 5px;
    color: #fff;
}

.menu2{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu2 input{

    border: none;
    padding: 5px;
    border-radius: 2%;
}



.login-btn{
    background-color: transparent;
    border: none;
    border-left: 1px solid white;
    color: #fff;
    padding: 0 0 0 1rem;
}

.header{
    display: flex;
   
    flex-direction: column;
    justify-content:center;
   align-items:flex-end;
    padding: 9rem 10rem;
    background-image: url(../images///cover-pencil-revert.jpg);
    background-size:100% 125%  ;
    text-align: center;
}

.header-content{
    display: flex;
    flex-direction: column;
   
   justify-content: center;
   align-items: center;
   padding: 5rem;
    width: 35rem;
}
.header-content h3{
    font-size: 4rem;
    margin: 0;
}
.header-content p{
    font-size: 1.5rem;
}

.header-content button{
        padding: 10px 12px;
        border: none;
        border-radius: 2rem;
        background-color: rgb(255, 208, 0);
    
      
}